* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 100%; */
    height:100vh;
    /* position: relative; */
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#form {
    border-radius: 0.25em;
    top:5%;
    display: block;
    position:absolute;
}

#searchbar {
    width:120%;
}

#btn {
    color:white;
    background-color: blue;
    border-radius: 0.25em;
    position:absolute;
    border-color: rgba(255,255,255,0.2);
    top:5%;
    padding: 1em;
    left:32%
}

#search-parameters {
    display: none;
    color:white;
    position: absolute;
    z-index: 2;
    top:12%;
    font-size: 1em;
    
}

#photographer {
    position:absolute;
    top: 80vh;
    color:white;
    left: 20px;
    font-size: 1.2em;
}

@media screen and (min-width:800px) {
    img {
        width: 100%;
        height: 100vh;
    }
    #photographer {
        top: 90vh;
    }
    #btn {
        left: 40%;
    }
}